<% unless @credit_cards.empty? %>
<table>
  <thead>
    <tr>
      <th>Card Last 4 digits</th>
      <th>Card Type</th>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
<!-- the column names of this view should the same column names as in the DB -->
  <tbody>
    <% @credit_cards.each do |credit_card| %>
    <tr>
    <td><%= credit_card.number %></td>
    <td><%= credit_card.card_type.name %></td>
    <td><%= button_to 'Delete', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to "Add", new_credit_card_url(@credit_card) %>
</p>
